# Debug
VITE_DEBUG=false

# Feature flags
VITE_ALLOW_CUSTOM_PAYMENT_AMOUNT=false

# API URLs
VITE_API_URL=http://localhost:3000
VITE_OPS_API_URL=http://localhost:3001
VITE_BANK_SIMULATOR_URL=http://localhost:3003

# Auth0 Configuration
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_AUDIENCE=
VITE_AUTH0_CLAIMS_NAMESPACE=
